<div class="container d-flex my-5 registration-container w-75 pl-0">
  <div class="col-lg-6 d-none d-lg-block registration-img">
    <%= image_tag "logofinal_white.png", class: "w-75" %>
</div>
  <div class="col-lg-6 col-xs-12 p-4">
  <h2>Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">

      <fieldset class="form-group">
        <div class="row">
        <legend class="col-form-label pl-3">Account type: </legend>
        <input type="hidden" name="user[owner][]" value="">
      <div class="col-lg-6">
        <div class="form-check">
          <input class="hidden" autocomplete="owner" autofocus="autofocus" type="checkbox" value="true" name="user[owner][]" id="user_owner_true">
          <label class="form-check-label collection_check_boxes" for="user_owner_true">Business Owner</label>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-check">
          <input class="hidden" autocomplete="owner" autofocus="autofocus" readonly="readonly" type="checkbox" value="false" name="user[owner][]" id="user_owner_false">
          <label class="form-check-label collection_check_boxes" for="user_owner_false">Personal Use</label>
        </div>
      </div>
      </div>
      </fieldset>

      <div class="row">
        <div class="col-lg-6">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        </div>
        <div class="col-lg-6">
        <%= f.input :username,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "username" }%>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <%= f.input :first_name,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "first_name" }%>
        </div>
        <div class="col-lg-6">
          <%= f.input :last_name,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "last_name" }%>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
        </div>

        <div class="col-lg-6">
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
        </div>
      </div>
    </div>

    <div class="form-actions d-flex justify-content-between">
      <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>


</div>

</div>

