
<div class="chatroom ">
  <div class="btn-message-page">
  <i class="fas fa-arrow-left arrow-chat"></i>
  <%= link_to "Chatboard", chatrooms_path, class: "btn btn-secondary btn-chat", style: "width: 100px"%>
  </div>
  <div class="info-messages">
    <h1 style="color:white "><%= @chatroom.name %></h1>
  </div>
  <div>
    <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
      <% @chatroom.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>
    <div class="simple-form-messages">
      <%= simple_form_for [ @chatroom, @message ] do |f| %>
        <%= f.input :content, label: false, placeholder: "Message #{@chatroom.name}" %>
      <% end %>
    </div>
    </div>
  </div>




