<div class="chatroom">
  <h1><%= @chatroom.name %></h1>

  <div>
    <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
      <% @chatroom.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>

    <%= simple_form_for [ @chatroom, @message ] do |f| %>
      <%= f.input :content, label: false, placeholder: "Message #{@chatroom.name}" %>
    <% end %>
  </div>
</div>
