<% if user_signed_in? %>
<nav class="nav nav-pills nav-justified d-flex justify-content-around bottom-nav fixed-bottom pt-1">
  <!-- <a class="nav-item nav-link" href="#" > Restaurants </a> -->
    <%= link_to restaurants_path do %>
      <i class="nav-item nav-link fas fa-utensils"></i>
    <% end %>
    <%= link_to gyms_path do %>
      <i class="nav-item nav-link fas fa-dumbbell"></i>
    <% end %>
    <%= link_to chatrooms_path do %>
      <i class="nav-item nav-link fas fa-comment"></i>
    <% end %>
    <% if current_user.owner %>
      <%= link_to ownerdashboard_path do %>
        <i class="nav-item nav-link fas fa-user-circle"></i>
      <% end %>
    <% else %>
      <%= link_to user_dashboard_path do %>
        <i class="nav-item nav-link fas fa-user-circle"></i>
      <% end %>
    <% end %>
</nav>
<% end %>
