<div class="navbar navbar-expand-xs navbar-light navbar-lewagon sticky-top pt-1">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo_colour_zoom.png" %>
    <% end %>


  <div class="" id="navbarSupportedContent">
      <% if user_signed_in? %>
        <% if current_user&.owner? %>
          <div class="d-flex">
            <%= link_to "NEW RESTAURANT", new_restaurant_path, class: "nav-link px-2" %>
            <%= link_to "NEW GYM", new_gym_path, class: "nav-link px-0" %>
          </div>
        <% else %>
          <div class="search-navbar">
            <%= form_tag restaurants_path, class: "navbar-wagon-search navbar-version rounded p-0", method: :get do %>
            <%= text_field_tag :address,
                params[:address],
                class: "navbar-wagon-search-input navbar-version nav-rounded",
                placeholder: "Search Location" %>

              <%= button_tag( :class => "btn navbar-wagon-search-btn navbar-version d-flex") do %>
                <i class="fa fa-search"> </i>
              <% end %>
            <% end %>
          </div>
          <% end %>
      <% else %>
        <button class="btn-login rounded">
          <%= link_to "Sign In", new_user_session_path, class: "nav-link rounded", style: "color: white" %>
        </button>
      <% end %>
  </div>
</div>
