<div class="container-home">
  <div class="navbar-search d-flex justify-content-between align-items-center">

      <div class="social-media">
          <a href="https://www.instagram.com/fitmapp/" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://www.facebook.com/pages/category/Health---Wellness-Website/Fitmapp-100254108127279/" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.pinterest.co.uk/fitmapp/" target="_blank"><i class="fab fa-pinterest-p"></i></a>
      </div>

        <!-- Right Navigation -->

        <!-- Search form -->
       <%= form_tag restaurants_path, class: "navbar-wagon-search rounded", method: :get do %>
            <%= text_field_tag :address,
            params[:address],
            class: "navbar-wagon-search-input nav-rounded",
            placeholder: "Search Location" %>

            <%= button_tag( :class => "btn navbar-wagon-search-btn d-flex") do%>
              <i class="fa fa-search"> </i>
            <% end %>
        <% end %>
          <!-- Notification -->
  </div>

  <div id="banner" class="logo_banner">
    <%= image_tag "logofinal_white.png", class: "logo_white" %>
    <div class="home-button">
      <% if current_user == nil %>
      <%= link_to "Join Now", new_user_registration_path, class: "btn-home btn btn-primary btn-lg" %>
      <% end %>
    </div>
  </div>

</div>

<div class="container col border border-light rounded">
  <div class="card-explore row border border-light rounded">
    <h3> HEALTHY NEAR YOU </h3>
    <h1> London </h1>
 <!--    <h3> Healthy Made Simple </h3> -->
   <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg btn-home" data-toggle="modal" data-target="#exampleModalCenter">
      Explore
    </button>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-0 p-0 pr-2">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer border-0 justify-content-center">
        <%= link_to "Food", restaurants_path, class: "btn btn-primary"  %>
        <%= link_to "Gyms", gyms_path, class: "btn btn-primary" %>
      </div>
      <div class="modal-body">
        <div id="map"
          style="width: 100%; height: 400px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
</div>


<div class="cards">

    <div class="card-category" id="health">
      Health
    </div>

    <div class="card-category" id="fitness">
      Fitness
    </div>

    <div class="card-category" id="recipes">
      Recipes
    </div>
</div>

<script>
  document.querySelector('body').classList.add("bg-light")
  document.querySelector('.search-navbar').classList.add("d-none")
</script>
