<div class="container-home">
  <div class="navbar-search d-flex justify-content-between align-items-center">

      <div class="social-media">
          <a href="https://www.instagram.com/fitmapp/" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://www.facebook.com/pages/category/Health---Wellness-Website/Fitmapp-100254108127279/" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.pinterest.co.uk/fitmapp/" target="_blank"><i class="fab fa-pinterest-p"></i></a>
      </div>

        <!-- Right Navigation -->

        <!-- Search form -->
       <%= form_tag restaurants_path, class: "navbar-wagon-search rounded", method: :get do %>
            <%= text_field_tag :name,
            params[:make],
            class: "navbar-wagon-search-input nav-rounded",
            placeholder: "Search" %>

            <%= button_tag( :class => "btn navbar-wagon-search-btn d-flex") do%>
              <i class="fa fa-search"> </i>
            <% end %>
        <% end %>
          <!-- Notification -->
  </div>

  <div id="banner" class="logo_banner">
    <%= image_tag "logofinal_white.png", class: "logo_white" %>
    <div class="home-button">
      <%= link_to "Join Now", restaurants_path, class: "btn-home btn btn-primary" %>
    </div>
  </div>

</div>

<div class="container col">
  <div class="card-explore col">
    <h1> London </h1>
 <!--    <h3> Healthy Made Simple </h3> -->
    <%= link_to "Explore", restaurants_path, class: "btn-home btn btn-primary" %>
  </div>
</div>

<div class="container col-xs-12 col-md-6 col-lg-4 mb-3">
  <div class="home-cards">
    <div class="card-health">
      <%= link_to "Health", root_path, class: "btn-cards" %>
    </div>
    <div class="card-fitness">
      <%= link_to "Fitness", root_path, class: "btn-cards" %>
    </div>
    <div class="card-recipes">
      <%= link_to "Recipes", root_path, class: "btn-cards" %>
    </div>
  </div>
</div>

