<div class="profile-page-top w-100">
  <div class="d-flex flex-row-reverse pt-1 pr-1">
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-secondary btn-sm" %>
    <%= link_to 'Edit', edit_user_registration_path, class: "btn btn-primary btn-sm mr-2" %>
  </div>
</div>

<div class="container container-profile mb-2">
  <div class="row info-row">
    <div class="col-12 text-center">
      <% if current_user.photo.attached? %>
          <% card_image = current_user.photo.key %>
          <div class="user-photo"><%= cl_image_tag card_image, class: 'img-profile-avatar'%></div>
      <% else %>
        <img src="https://3.bp.blogspot.com/-qDc5kIFIhb8/UoJEpGN9DmI/AAAAAAABl1s/BfP6FcBY1R8/s1600/BlueHead.jpg" class="img-profile-avatar">
      <% end %>
    </div>

    <div class="col-12 info-section text-center pt-5 pb-4">
      <h3><%= current_user.first_name %> <%=current_user.last_name %></h3>
      <h6> <%= current_user.email %> </h6>
      <span class="badge badge-primary"> Business account </span>
    </div>
  </div>

  <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">My Resturants</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">My Gyms</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">All Bookings</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="restaurant-tab">
      <div class="container">
        <h5 class="text-left text-light pt-3">My restaurants</h5>
          <div class="row justify-content-center">
            <% current_user.restaurants.each do |restaurant|%>
                <div class="col-12 col-md-6 pb-2">

                  <div class="card shadow border-0">
                    <%= link_to restaurant_path(restaurant) do %>
                      <% if restaurant.photo.attached? %>
                        <%= cl_image_tag restaurant.photo.key, class: "card-img-top" %>
                      <% end %>
                    <% end %>
                    <div class="card-title p-3">
                      <%= restaurant.name %>
                      <%= link_to "View ", restaurant_path(restaurant) %> |
                      <%= link_to "Edit ", edit_restaurant_path(restaurant) %>
                      <p> <%= link_to "Add dishes", new_restaurant_dish_path(restaurant) %> </p>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
      </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="gym-tab">
      <div class="container">
        <h5 class="text-left text-light pt-3">My gyms</h5>
        <div class="row justify-content-center">
          <% current_user.gyms.each do |gym|%>
            <div class="col-12 col-md-6 pb-2">
              <div class="card shadow border-0">
                <%= link_to gym_path(gym) do %>
                  <% if gym.photo.attached? %>
                    <%= cl_image_tag gym.photo.key, class: "card-img-top" %>
                  <% end %>
                <% end %>
                <div class="card-title p-3">
                  <%= gym.name %>
                  <%= link_to "View", gym_path(gym) %> |
                  <%= link_to "Edit", edit_gym_path(gym) %>
                  <p> <%= link_to "Add classes", new_gym_gym_class_path(gym) %> </p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="bookings-tab">

      <div class="container">


            <div class="row mb-3">
            <div class="col-12 col-md-6"><h5 class="text-center text-light pt-3">Gym Class Bookings</h5>
              <ul class="list-group">
                <% current_user.gyms.each do |gym|%>
                  <% gym.gym_classes.each do |gClass| %>
                    <% gClass.class_bookings.each do |booking| %>
                      <li class="list-group-item">
                        <%= booking.date.to_formatted_s(:rfc822) %> -
                        <%= booking.gym_class.name %> -
                        <%= booking.user.first_name %> <%= booking.user.last_name %>
                      </li>
                    <% end %>
                  <% end %>
                <% end %>
              </ul>
            </div>

            <div class="col-12 col-md-6"><h5 class="text-center text-light pt-3">Restaurant Bookings</h5>
              <ul class="list-group">
                <% current_user.restaurants.each do |restaurant|%>
                  <% restaurant.restaurant_bookings.each do |booking| %>
                    <li class="list-group-item">
                      <%= booking.date.to_formatted_s(:rfc822) %> - <%= booking.time.strftime("%k:%M") %> -
                      <%= booking.restaurant.name %> -
                      <%= booking.user.first_name %> <%= booking.user.last_name %>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </div>
            </div>
      </div>
    </div>
  </div>
</div>






