<div class="profile-page-top">
  <div class="d-flex flex-row-reverse pt-1 pr-1">
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-secondary btn-sm" %>
  </div>
</div>


<div class="container container-profile">
  <div class="row info-row justify-content-center">
    <div class="col-12 col-md-6 text-center">
      <% if current_user.photo.attached? %>
          <% card_image = current_user.photo.key %>
          <div class="user-photo"><%= cl_image_tag card_image, class: 'img-profile-avatar'%></div>
          <%= link_to edit_user_registration_path do %>
            <i class="fas fa-pencil-alt edit-icon"></i>
          <% end %>
      <% else %>
        <img src="https://3.bp.blogspot.com/-qDc5kIFIhb8/UoJEpGN9DmI/AAAAAAABl1s/BfP6FcBY1R8/s1600/BlueHead.jpg" alt="..." class="img-profile-avatar">
      <% end %>
    </div>

    <div class="col-12 info-section text-center pt-4 pb-4">
      <h3><%= current_user.first_name %> <%=current_user.last_name %></h3>
      <h6> <%= current_user.email %> </h6>
      <% current_user.dietary_requirements.each do |dr| %>
      <span class="badge badge-primary"><%= dr %></span>
        <% end %>
    </div>
  </div>


    <ul class="nav nav-tabs w-100 nav-fill" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="bookings-tab" data-toggle="tab" href="#bookings" role="tab" aria-controls="booking" aria-selected="false">Bookings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="favorites-tab" data-toggle="tab" href="#favorites" role="tab" aria-controls="favorite" aria-selected="false">Favourites</a>
      </li>
    </ul>


    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="bookings" role="tabpanel" aria-labelledby="bookings-tab">
        <h5 class="text-left py-1">Restaurant Bookings</h5>
        <div class="row justify-content-center">
          <% current_user.restaurant_bookings.order(date: :asc).each do |booking| %>
            <% if booking.date > Time.now %>
              <div class="col-12 col-md-6 pb-1">
                <div class="card-product">
                  <% if booking.restaurant.photo.attached? %>
                    <%= cl_image_tag booking.restaurant.photo.key %>
                  <% else %>
                    <img style="background-color: #EDEDED">
                  <% end %>
                  <div class="card-info p-2">
                    <span class="badge badge-primary"> <%= booking.date.strftime("%A") %> - <strong> <%= booking.restaurant.name %> </strong> </span>
                    <div>
                      <p> <%= booking.date.strftime("%e %b") %> at <%= booking.time.strftime("%k:%M") %> </p>
                      <p> <%= link_to "Edit", edit_restaurant_booking_path(booking)%> | <%= link_to "Delete", restaurant_booking_path(booking), method: :delete %> </p>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>


        <h5 class="text-left pt-3 pb-1">Gym Bookings</h5>
        <div class="row justify-content-center">
          <% current_user.class_bookings.each do |booking| %>
            <% if booking.date > Time.now %>
              <div class="col-12 col-md-6 pb-1">
                <div class="card-product">
                  <% if booking.gym_class.photo.attached? %>
                    <%= cl_image_tag booking.gym_class.photo.key %>
                  <% else %>
                    <img style="background-color: #EDEDED">
                  <% end %>
                  <div class="card-info p-2">
                    <span class="badge badge-primary"> <%= booking.date.strftime("%A") %> - <strong> <%= booking.gym_class.name %> </strong> </span>
                    <div>
                      <p><%= booking.date.strftime("%e %b") %> <%= booking.gym_class.time.strftime("%k:%M") %> </p>
                    </div>
                    <div>
                      <p><%= booking.gym_class.gym.name %></p>
                      <p> <%= link_to "Edit", edit_class_booking_path(booking)%> | <%= link_to "Delete", class_booking_path(booking), method: :delete %> </p>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="tab-pane fade" id="favorites" role="tabpanel" aria-labelledby="restaurant-favorites-tab">
        <h5 class="text-left py-1">Restaurant Favourites</h5>
        <div class="row justify-content-center">
          <% current_user.favorited_by_type("Restaurant").each do |fav| %>
            <div class="col-12 col-md-6 pb-1">
              <%= link_to restaurant_path(fav) do %>
                <div class="card-product">
                  <% if fav.photo.attached? %>
                    <%= cl_image_tag fav.photo.key %>
                  <% else %>
                    <img style="background-color: #EDEDED">
                  <% end %>
                  <p class="p-3"> <%= fav.name %> </p>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>


        <h5 class="text-left pt-3 pb-1">Gym Favourites</h5>
        <div class="row justify-content-center">
          <% current_user.favorited_by_type("Gym").each do |fav| %>
            <div class="col-12 col-md-6 pb-1">
              <%= link_to gym_path(fav) do %>
                <div class="card-product">
                  <% if fav.photo.attached? %>
                    <%= cl_image_tag fav.photo.key %>
                  <% else %>
                    <img style="background-color: #EDEDED">
                  <% end %>
                  <p class="p-3"> <%= fav.name %> </p>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>
</div>

