<%= simple_form_for [@restaurant, @dish] do |f| %>
<div class="row">
  <div class="col-6"><%= f.input :name %></div>
  <div class="col-6"><%= f.input :description %></div>
</div>
  <%= f.input :photo, as: :file %>
  <%= f.submit class: "btn btn-primary"%>
<% end %>
