<%= simple_form_for @restaurant do |f| %>
<div class="row">
  <div class="col-6"><%= f.input :name %></div>
  <div class="col-6"><%= f.input :address %></div>
</div>
<div class="row">
  <div class="col"><%= f.input :category %></div>
</div>
  <%= f.input :photo, as: :file %>
  <br>
  <%= f.submit class: "btn btn-primary"%>
  <%= link_to "Back to my restaurants", my_restaurants_path, class: "btn btn-secondary" %>
<% end %>
