<%= simple_form_for @restaurant do |f| %>
<div class="row">
  <div class="col-6"><%= f.input :name %></div>
  <div class="col-6"><%= f.input :location %></div>
</div>
<div class="row">
  <div class="col"><%= f.input :category %></div>
</div>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit class: "btn btn-primary"%>
<% end %>
