<div class="container pb-4 shadow rounded new-gym-container">
  <h1 class="text-center pt-4"> Nearby Restaurants </h1>
    <!-- Collapse button -->
        <p class="text-center m-3">
          <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Filter
          </a>
        </p>
        <div class="collapse" id="collapseExample">
        <div class="card card-body filter-container mb-2 p-2 justify-content-center text-center">
            <%= simple_form_for :search, url: restaurants_path, method: "GET" do |f| %>
            <%= f.input :dietary, collection: Restaurant::DIETARY, as: :check_boxes, wrapper: :vertical_collection_inline %>
          <div class="d-flex justify-content-center">
            <%= f.submit "Search", class: "btn-secondary btn btn-sm" %>
          <% end %>
          </div>
        </div>
        </div>

  <div class="row">
    <% @restaurants.each do |restaurant| %>
      <div class="col-xs-12 col-md-6 col-lg-4 mb-3">
        <%= link_to restaurant_path(restaurant) do %>
          <div class="card-product rounded">
            <% if restaurant.photo.attached? %>
              <%= cl_image_tag restaurant.photo.key %>
            <% end %>
            <div class="card-product-infos w-100">
              <h2><%= restaurant.name %>
                <% if restaurant.favorited_by?(current_user) %>
                  <i class="fas fa-heart fav-heart-index"></i>
                <% end %>
              </h2>
              <p><%= restaurant.category %></p>
              <p class="text-right">
                <% if restaurant.average_rating <= 0  %>
                  <%= image_tag "0star.png", alt: "0 stars", class: "star-rating" %>
                  <% elsif restaurant.average_rating <= 1 %>
                  <%= image_tag "1star.png", alt: "1 stars", class: "star-rating" %>
                  <% elsif restaurant.average_rating <= 2 %>
                  <%= image_tag "2star.png", alt: "2 stars", class: "star-rating" %>
                  <% elsif restaurant.average_rating <= 3 %>
                  <%= image_tag "3star.png", alt: "3 stars", class: "star-rating" %>
                  <% elsif restaurant.average_rating <= 4 %>
                  <%= image_tag "4star.png", alt: "4 stars", class: "star-rating" %>
                  <% else %>
                  <%= image_tag "5star.png", alt: "5 stars", class: "star-rating" %>
                <% end %>
              </p>
            </div>
          </div>
        <% end %>

      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <img src="https://images.unsplash.com/photo-1565700549653-3ae074ab0d6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="card-img-top" alt="...">
              <div class="rest-card-body">
                <h5 class="rest-card-title"><%= restaurant.name %></h5>
                <p class="rest-card-text"><%= restaurant.address %></p>
                <p class="rest-card-text"><%= restaurant.category %></p>
                <ul class="list-group list-group-flush">
                  <% restaurant.dishes.each do |dish| %>
                    <li class="list-group-item"><i class="fas fa-utensils"></i> - <strong> <%= dish.name %> </strong>- <%= dish.description %></li>
                  <% end %>
                </ul>
              </div>
              <div class="card-body">
                <%= link_to "Book #{restaurant.name} Now", "...", class: "btn btn-primary btn-sm" %>
                <%= link_to "Back to all Restaurants", restaurants_path, class: "btn btn-secondary btn-sm"  %>
              </div>
          </div>
        </div>
      </div>

      </div>
    <% end %>
  </div>

  <div id="map"
    style="width: 100%; height: 400px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>
