<div class="container mt-3">
  <div class="rest-card">
    <% if @restaurant.photo.attached? %>
    <%= cl_image_tag @restaurant.photo.key, class: "card-img-top", alt: "...", height: 300, width: 400, crop: :fill %>
    <% end %>
    <div class="rest-card-body">
      <h5 class="rest-card-title"><%= @restaurant.name %></h5>
      <%=  link_to restaurant_fav_res_path(@restaurant), method: :post do %>
        <i class="fas fa-heart"></i>
      <% end %>
      <p class="rest-card-text"><%= @restaurant.address %></p>
      <p class="rest-card-text"><%= @restaurant.category %></p>
      <p class="rest-card-text"><%= @restaurant.dietary_list %> </p>

      <div class="container">
        <div class="row">
      <% @restaurant.dishes.each do |dish| %>
        <div class="col-6 col-md-4 card-container">
          <div class="card-flip shadow">
            <div class="front", style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= cl_image_path dish.photo.key, height: 250, crop: :fill; %>)">
              <h5 class="text-center text-light"> <%= dish.name %> </h5>
            </div>
            <div class="back p-4">
              <h5> <%= dish.name %> </h5>
              <p> <%= dish.description %> </p>
            </div>
          </div>
           </div>
        <% end %>
        </div>
        </div>
    </div>

    <div class="card-body">
      <% if @restaurant.user != current_user %>
        <button type="button" class="btn btn-primary bn-sm" data-toggle="modal" data-target="#RestaurantBookingsModal">
          <%= "Book #{@restaurant.name} Now" %>
        </button>
      <% end %>

      <div class="modal fade" id="RestaurantBookingsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Book a Table</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= simple_form_for [@restaurant, @restaurant_booking] do |f| %>
              <div class="row">
                <div class="col-6"><%= f.input :date %></div>
                <div class="col-6"><%= f.input :time %></div>
              </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <%= f.button :submit, "Make Booking", { class: "trigger-btn", "data-toggle": "#myModal" } %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <!-- Button trigger modal -->
      <% if @restaurant.user == current_user %>
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModalCenter">
          Add new tags
        </button>
      <% end %>

      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle"> Update tags </h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                  <%= simple_form_for @restaurant do |f| %>
                  <%= f.input :dietary_list %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= f.button :submit, 'Save', class: "btn btn-primary" %>
              <% end %>
            </div>
           </div>
        </div>
      </div>

      <%= link_to "Back to Restaurants", restaurants_path, class: "btn btn-secondary btn-sm"  %>
    </div>
  </div>
  <div id="map"
    class="container"
    style="width: 100%; height: 300px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
