<div class="container mt-3">
  <div class="rest-card">
    <% if @restaurant.photo.attached? %>
    <%= cl_image_tag @restaurant.photo.key, class: "card-img-top", alt: "...", height: 300, width: 400, crop: :fill %>
    <% end %>
    <div class="rest-card-body">
      <h5 class="rest-card-title"><%= @restaurant.name %></h5>
      <p class="rest-card-text"><%= @restaurant.address %></p>
      <p class="rest-card-text"><%= @restaurant.category %></p>
    <ul class="list-group list-group-flush">
      <% @restaurant.dishes.each do |dish| %>
        <li class="list-group-item"><i class="fas fa-utensils"></i> - <strong> <%= dish.name %> </strong> - <%= dish.description %></li>
      <% end %>
    </ul>
    </div>
    <div class="card-body">

      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#RestaurantBookingsModal">
        <%= "Book #{@restaurant.name} Now" %>
      </button>

      <div class="modal fade" id="RestaurantBookingsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Book a Table</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= simple_form_for [@restaurant, @restaurant_booking] do |f| %>
              <div class="row">
                <div class="col-6"><%= f.input :date %></div>
                <div class="col-6"><%= f.input :time %></div>
              </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <%= f.button :submit, "Make Booking", { class: "trigger-btn", "data-toggle": "#myModal" } %>
                </div>

                  <div id="myModal" class="modal fade">
                    <div class="modal-dialog modal-confirm">
                      <div class="modal-content">
                        <div class="modal-header">
                          <div class="icon-box">
                            <i class="material-icons">&#xE876;</i>
                          </div>
                          <h4 class="modal-title w-100">Awesome!</h4>
                        </div>
                        <div class="modal-body">
                          <p class="text-center">Your booking has been confirmed. Check your email for details.</p>
                        </div>
                        <div class="modal-footer">
                          <button class="btn btn-success btn-block" data-dismiss="modal">Back to restaurants</button>
                          <%= link_to "My Bookings", dashboard_path, class: "btn btn-primary" %>
                        </div>
                      </div>
                    </div>
                  </div>
              <% end %>
            </div>

          </div>
        </div>
      </div>




      <%= link_to "Back to Restaurants", restaurants_path, class: "btn btn-secondary btn-sm"  %>
    </div>
  </div>

  <div id="map"
    class="container"
    style="width: 100%; height: 300px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>
