<div class="container my-3">
  <div class="rest-card bg-light rounded">

    <% if @gym.photo.attached? %>
      <%= cl_image_tag @gym.photo.key, class: "card-img-top rounded-top" %>
    <% end %>


    <div class="rest-card-body d-flex flex-column justify-content-center">
      <%= link_to gym_fav_gym_path(@gym), method: :post do %>
        <i class="fas fa-heart fav-heart d-flex flex-row-reverse"></i>
      <% end %>

        <h5 class="rest-card-title text-center"><%= @gym.name %></h5>
          <p class="text-center total_reviews">
            <%= link_to gym_path(@gym, anchor: "review") do  %>
              <% if @gym.average_rating <= 0  %>
                <%= image_tag "0star.png", alt: "alttext" %>
                <% elsif @gym.average_rating <= 1 %>
                <%= image_tag "1star.png", alt: "alttext" %>
                <% elsif @gym.average_rating <= 2 %>
                <%= image_tag "2star.png", alt: "alttext" %>
                <% elsif @gym.average_rating <= 3 %>
                <%= image_tag "3star.png", alt: "alttext" %>
                <% elsif @gym.average_rating <= 4 %>
                <%= image_tag "4star.png", alt: "alttext" %>
                <% else %>
                <%= image_tag "5star.png", alt: "alttext" %>
             <% end %>
            (<%= @gym.gym_reviews.count %>)
            <% end %>
          </p>
          <p class="rest-card-text text-center m-0"><%= @gym.address %></p>
          <p class="rest-card-text text-center">Type: <%= @gym.category %></p>
          <p class="rest-card-text text-center">Owner: <%= @gym.user.first_name %> <%= @gym.user.last_name %></p>
          <span class="badge badge-primary dietary-show mb-3"><%= @gym.style_list %> </span>

          <ul class="list-group list-group-flush rounded">
            <% @gym.gym_classes.each do |gymclass| %>
              <li class="list-group-item bg-info"><i class="fas fa-dumbbell"></i> - <strong> <%= gymclass.name %> </strong>- <%= gymclass.time.strftime("%k:%M") %>
              <!-- Book now -->
                <% if @gym.user != current_user %>
                  <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal<%= gymclass.id %> ">
                  <%= "Book #{gymclass.name}" %>
                  </button>
                <% else %>
                  <%= link_to "Edit", edit_gym_class_path(gymclass) %>
                <% end %>

                <!-- Modal HTML -->
                <div id="myModal<%= gymclass.id %>" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Pick a Date for <%= gymclass.name %></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <%= simple_form_for [gymclass, ClassBooking.new] do |f| %>
                          <%= f.input :date, as: :date, html5: true, id:"date" %>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                          <%= f.button :submit, "Make Booking", class: "trigger-btn-gym"%>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

            </li>
          <% end %>
        </ul>
      </div>

    <div class="card-body">

      <!-- Button trigger TAGS modal -->
      <% if @gym.user == current_user %>
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModalCenter">
          Add new tags
        </button>
      <% end %>

      <!-- Tags Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle"> Update tags </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                  <%= simple_form_for @gym, method: "PATCH" do |f| %>
                  <%= f.input :style_list %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= f.button :submit, 'Save', class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <%= link_to "Back to all Gyms", gyms_path, class: "btn btn-secondary btn-sm"  %>
    </div>

    <div id="map"
      class="container"
      style="width: 100%; height: 300px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

    <div class="review_section">

        <div id="review_form">
          <%= simple_form_for([ @gym, @gym_review ], remote: true) do |f| %>
            <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>
            <%= f.input :content, as: :text %>
            <%= f.button :submit, class: "btn btn-primary" %>
          <% end %>
        </div>

        <div id="gym_reviews">
          <% if @gym.gym_reviews.blank? %>
            Be the first to leave a review for <%= @gym.name %>
          <% else %>
            <% @gym.gym_reviews.reverse_order.each do |review| %>
            <div id="review">
              <div class="rating">
                <% if review.rating == 0 %>
                  <%= image_tag "0star.png", alt: "alttext" %>
                  <% elsif review.rating == 1 %>
                  <%= image_tag "1star.png", alt: "alttext" %>
                  <% elsif review.rating == 2 %>
                  <%= image_tag "2star.png", alt: "alttext" %>
                  <% elsif review.rating == 3 %>
                  <%= image_tag "3star.png", alt: "alttext" %>
                  <% elsif review.rating == 4 %>
                  <%= image_tag "4star.png", alt: "alttext" %>
                  <% else %>
                  <%= image_tag "5star.png", alt: "alttext" %>
                <% end %>
                <br>
                <%= review.created_at.strftime("%b %y") %>
              </div>
              <div class="content">
                '<%= review.content %>'
              </div>
            </div>
            <% end %>
          <% end %>
        </div>

    </div>
  </div>
</div>
