<div class="container mt-3">
  <div class="rest-card">
    <% if @gym.photo.attached? %>
    <%= cl_image_tag @gym.photo.key, class: "card-img-top", alt: "...", height: 300, width: 400, crop: :fill %>
    <% end %>

      <div class="rest-card-body">
        <h5 class="rest-card-title"><%= @gym.name %></h5>
        <%=  link_to gym_fav_gym_path(@gym), method: :post do %>
          <i class="fas fa-heart"></i>
        <% end %>
        <p class="rest-card-text"><%= @gym.address %></p>
        <p class="rest-card-text"><%= @gym.category %></p>
        <p class="rest-card-text">Owner: <%= @gym.user.first_name %> <%= @gym.user.last_name %></p>
        <ul class="list-group list-group-flush">
          <% @gym.gym_classes.each do |gymclass| %>
            <li class="list-group-item"><i class="fas fa-dumbbell"></i> - <strong> <%= gymclass.name %> </strong>- <%= gymclass.time.strftime("%k:%M") %>
            <!-- Book now -->
              <% if @gym.user != current_user %>

              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal<%= gymclass.id %> ">
                <%= "Book #{gymclass.name} Now" %>
              </button>
              <% end %>

                <!-- Modal HTML -->
                <div id="myModal<%= gymclass.id %>" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">                       		
                        <h5 class="modal-title">Pick a Date for <%= gymclass.name %></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <%= simple_form_for [gymclass, ClassBooking.new] do |f| %>
                          <%= f.input :date, as: :date, html5: true, id:"date" %>                        
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                          <%= f.button :submit, "Make Booking", class: "trigger-btn-gym"%>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

            </li>
          <% end %>
        </ul>
      </div>

    <div class="card-body">

      <p> Tags: <%= @gym.style_list %> </p>

      <!-- Button trigger TAGS modal -->
      <% if @gym.user == current_user %>
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModalCenter">
          Add new tags
        </button>
      <% end %>

      <!-- Tags Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle"> Update tags </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                  <%= simple_form_for @gym do |f| %>
                  <%= f.input :style_list %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= f.button :submit, 'Save', class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <%= link_to "Back to all Gyms", gyms_path, class: "btn btn-secondary btn-sm"  %>
    </div>
  </div>

  <div id="map"
    class="container"
    style="width: 100%; height: 300px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
